@font-face {
    font-family: 'Digital-7 Mono';
    src: url('Digital-7MonoItalic.woff2') format('woff2'),
        url('Digital-7MonoItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

