@font-face {
    font-family: 'digital7';
    src: url('digital7.ttf') format('ttf'),
        url('digital7.woff2') format('woff2'),
        url('digital7.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

